---
import { Image } from 'astro:assets'
import type { ImageMetadata } from 'astro'
import BuyLink from './BuyLink.astro'

export interface Props {
  image: ImageMetadata
  modelNumber: string
  title: string
  copy?: string
  price?: string
  link?: string
  id: string
}

const { image, modelNumber, title, copy, price, link, id } = Astro.props
---

<article class="product-card overflow-hidden w-full" data-product-id={id}>
  <div class="relative aspect-[312/248] overflow-hidden">
    <Image
      src={image}
      alt={title}
      widths={[300, 400, 500]}
      sizes="(max-width: 640px) 300px, 400px"
      loading="lazy"
      class="h-full w-full object-cover rounded-[4.27vw] md:rounded-[1.111vw]"
    />
  </div>

  <div class="py-[4.8vw] md:py-[1.67vw] flex flex-col">
    <p
      class="text-[3.2vw] md:text-[0.694vw] text-cream font-light mb-[0.556vw]"
    >
      {modelNumber}
    </p>

    <h3
      class="font-sans text-[7.47vw] md:text-[1.111vw] font-medium text-cream mb-[0.833vw] tracking-tight"
    >
      {title}
    </h3>

    {
      price && (
        <p class="text-[3.2vw] md:text-[0.833vw] font-medium text-beige-dark mb-[3.2vw] md:mb-[1.111vw]">
          {price}
        </p>
      )
    }

    {
      copy && (
        <p class="text-[4.8vw] md:text-[0.97vw] text-cream font-light mb-[8vw] md:mb-[1.111vw] flex-grow">
          {copy}
        </p>
      )
    }

    {
      link && (
        <div class="mt-auto">
          <BuyLink href={link} size="md" color="beige-dark" />
        </div>
      )
    }
  </div>
</article>
